* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  margin-top: 1%;
  padding: 0%;
}

body {
  background-color: #8960ff;
  color: #ffffff;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  margin: 0 50px;
  font-size: medium;
  padding: 0 114.297px;

}

#header img {
  margin-left: 12px;
  margin-top: 2px;
  width: 130px;
  height: 35px;

}

#header div {
  width: 25%;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
}

.nav-items a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: white;
  align-items: center;
}

#about-me {
  color: rgb(251, 195, 52);
}

#box1 {
  margin-left: 0, 50%, 0, 50%;
  margin-top: 4%;
  height: 30%;
  /* font-size: 65px; */
  /* font-family: "DM serif Display" sans-serif; */
  /* font-display:"DM serif Display" ; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 80%;
  margin-left: 200px;
}


#box1 h1,
.hero h1 {
  text-align: center;
  font-size: 130px;
  font-family: "DM serif Display", sans-serif;

}

#box1 div {
  font-size: 18px;
  width: 75vw;
  text-align: center;
  font-family: "Inter", sans-serif;
}

#head2 p {
  opacity: 80%;
  margin-bottom: 40px;
}

.content-wrapper {
  width: 100%;
  display: flex;
  min-height: 300px;

  justify-content: center;
}

.hero {
  margin-top: 95.250px;
  width: 100%;
  /* height: 100px; */
  display: flex;
  width: 1230px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hero h1 {
  text-align: center;
  font-size: 130px;
  font-family: "DM serif Display", sans-serif;
  font-weight: 400;
  line-height: 1em;
}

.hero p {
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  text-align: center;
  font-family: "Inter", sans-serif;
  padding: 0 123px;
}

.hero img {
  border-radius: 50%;
  border: solid white;
  border-width: 15px;
  width: 274px;
  height: 274px;
  overflow: hidden;
}

#box1 img {
  border-radius: 50%;
  border: solid white;
  border-width: 15px;
}

* {
  box-sizing: border-box;
}

.grid-setion-wrapper {
  display: flex;
  flex-direction: column;
  height: 686.594px;
  flex-wrap: nowrap;
  font-weight: 400;
  margin-top: 285.75px;

  max-width: 100%;
  width: 1905px;
  padding-left: 114.295px;
  padding-right: 114.295px;

column-gap:normal ;
justify-content: normal;



}

.grid-setion-wrapper .grid-section {



  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  height: 686.594px;
  justify-content: normal;
  line-height: 24px;
  gap: 15%;
  width: 1230px;




}

.grid-section .inner-item {

  display: block;
  height: 256.797px;

  align-items: flex-start;
  text-align: left;
  width: 492px;




}

.round {
  display: block;

  width: 60px;
  height: 60px;
  border: 4.5px solid #fff;
  border-radius: 50%;
  left: 30px;
  text-align: center;

  font-weight: 900;
  transform: matrix(1, 0, 0, 1, -30, 0);


}





#div-e-in {
  display: flex;
  flex-direction: row;
  height: 686.594px;
  /* background-color:  red; */
  gap: 15%;
  margin-top: 15%;
  padding-left: 6%;
  margin-left: 100px;
  margin-top: 15%;


  align-items: stretch;

  flex-wrap: wrap;


}


#e-element {
  height: 686.594px;
  width: 100%;


  display: flex;
  flex-direction: row;

  gap: 15%;

  flex-wrap: wrap;
  align-content: normal;
  padding: 0 6%;
  align-items: stretch;
  column-gap: 20px;






  /* padding 0 ; */

}


.button1 {
  display: block;
  flex-basis: auto;


  width: 100%;

  height: 111.5px;


}

.button1_2 {
  background-color: rgb(251, 195, 92);
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;


  height: 50px;
  width: 191.065px;
  text-align: center;
  color: rgb(89, 62, 168);
  padding: 16px 35px;
  font-size: 18px;
  font-weight: 400;
  font-family: "DM Serif Display", sans-serif;



}


.first_section {
  column-gap: 30px;
  display: flex;
  flex-direction: column;
  width: 492px;
  height: 164.797px;

}





.box2p {
  height: 108px;

  font-size: 18px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 27px;
  display: block;
  text-align: left;
  text-size-adjust: auto;


}




.box2span {
  font-size: 38px;
  font-family: "DM Serif Display", sans-serif;

  font-style: normal;

  font-weight: 400;



}







#box3 {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-evenly;
  /* Center vertically */
  height: 50%;
  width: 869.469px;

  gap: 20px;
  font-size: 16px;
  /* Set font size */
  font-family: Arial, sans-serif;
  /* Set font family */
  text-align: center;
  /* Center text inside the div */
  margin: auto;
  /* Center the div horizontally */
  margin-top: 10%;


}





#box3head {


  
}

#box3p {
  font-size: 14px;
  font-family: Inter, sans-serif;

  font-size: 18px;


  width: 1230px;


}

#box3button {
  cursor: pointer;
  padding: 12px 12px;
  border-radius: 48px;
  background-color: rgb(251, 195, 52);
  font-size: large;
}

#box3button p {
  font-family: "DM Serif Display", serif;
  color: rgb(89, 62, 168);
  font-weight: 500;

  

}


#box4 {

  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-evenly;
  /* Center vertically */
  height: 50%;
  width: 869.469px;

  gap: 20px;
  font-size: 16px;
  /* Set font size */
  font-family: Arial, sans-serif;
  /* Set font family */
  text-align: center;
  /* Center text inside the div */
  margin: auto;
  /* Center the div horizontally */
  margin-top: 10%;


}


#box4he {
  font-size: 46px;
  /* Set the font size for h1 */
  font-family: "DM Serif Display", serif;
  /* background-color: black; */

}


#icon i {
  font-size: 32px;
  /* Increase the font size of the icons */
  margin: 0 10px;
  /* Add some margin between icons if needed */
}

#box4 .p {
  font-size: 14px;
  font-family: Inter, sans-serif;

}